* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:palevioletred;
  padding-top: 25%;
  background-size: cover;
  
  text-align: center;
}
#clock {
  font-size: 150px;
  
}
#day {
  font-size: 90px;
}
